@font-face {
    font-family: UbuntuTitle;
    src: url(./assets/Ubuntu-Title.ttf);
}
@font-face {
    font-family: QuickSand;
    src: url(./assets/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: QuickSand;
    src: url(./assets/Quicksand-SemiBold.ttf);
    font-weight: semibold;
}

@font-face {
    font-family: QuickSand;
    src: url(./assets/Quicksand-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Avenir;
    src: url(./assets/AvenirNextLTPro-Regular.otf);
}

#showcase-grid {
    width: min(75%, 45rem);
}

#showcase-grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
#showcase-grid > div:hover {
    transform: scale(105%);
}

.proj-list:nth-child(2n+1) {
    flex-direction: row;
    text-align: left;
}
.proj-list:nth-child(2n+1) img {
    margin-right: 1.5rem;
}
.proj-list:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
}
.proj-list:nth-child(2n) img {
    margin-left: 1.5rem;
}

.column {
    flex-direction: column !important;
    text-align: center !important;
    margin-bottom: 2rem;
}
.column img {
    margin-right: 0 !important;
    margin-bottom: 0.5rem;
}

.proj-item .proj-sdesc {
    opacity: 0;
    transition: opacity 0.4s ease;
}
.proj-item:hover .proj-sdesc {
    opacity: 1;
}

.turnstile-main:hover {
    width: unset !important;
    transition: width 0.4s ease;
}
.ts-img {
    transition: left 0.3s ease, right 0.3s ease;
}